.body {
	border-radius: 8px;
	border: 1px solid #bbb;
	margin: 12px 10px;
	background: #fff;
	padding: 10px;
	min-height: 70px;
}

ul.listnav {
	border-radius: 8px;
	/*box-shadow: rgba(0, 0, 0, .2) 1px 1px 3px;*/
	color: #aaa;
	border: 1px solid #aaa;
	font: normal 18px Helvetica;
	padding: 0;
	margin: 6px 10px 16px;
}

ul.listnav li:first-child, ul.listnav li:first-child a {
	border-top: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

ul.listnav li {
	color: #666;
	border-top: 1px solid #bbb;
	border-bottom: #ddd;
	list-style-type: none;
	padding: 10px;
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#F0F0F0),to(#E7E7E7));
	overflow: hidden;
}

ul.listnav li a, li.img a + a {
	color: #12264B;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	padding: 12px 10px;
	margin: -10px;
	/*tap-highlight-color: transparent;
	tap-highlight-color: white;
	tap-highlight-color: #E1F4FF;*/
	text-shadow: white 0 1px 1px;
}

ul.listnav li a:active {
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#C1EAFF),to(#85D3FE));
}

ul.listnav li:last-child, ul.listnav li:last-child a {
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
}

#jqt ul.results {background: white;}
#jqt ul.results li, #jqt ol.results li {margin: 15px 0 0 0; color: #555; font: normal 14px calibri,arial, vardana, sans-serif; background: #fff; list-style: none; text-align: left;}
#jqt .results li b {color: #555; font-size: 16px;}
#jqt .results li span {display:block; color: #999; margin-top: 3px;}

#jqt ol.results {margin:0 -10px; padding: 0; text-align:center;
	margin: 12px 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	min-height: 70px;
	background-image: url(../img/bg_noise.png);
}

#jqt ol.results li {border-top: 1px solid #ccc; padding: 6px 14px; margin: 0;
	/*background: -webkit-gradient(linear,0% 0,0% 100%,from(#eee),to(#fff));*/
	background: rgba(0,0,0,0.05);
	border-radius: 0;
	position: relative;
}
#jqt ol.results a {text-decoration: none; color: #000; text-shadow: white 0 1px 1px;}
#jqt ol.results span {font-size: 12px;}
#jqt ol.results li:active, #jqt ol.results #active {background: -webkit-gradient(linear,0% 0,0% 100%,from(#C1EAFF),to(#85D3FE));}

#jqt ol.results li:last-child {border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
#jqt ol.results li:first-child {border: 0; border-top-left-radius: 8px; border-top-right-radius: 8px; }

.results p {margin-top: 20px;}

.details {margin-top: 8px; color: #aaa; font-size: 12px;}

/*
input {
	border-radius: 8px;
	border: 1px solid #bbb;
	padding: 4px 2%;
	font: normal 18px arial;
	width: 96%;
}
*/


.loading {background: url('../img/loading.gif') 0 0 no-repeat; width: 32px; height: 32px; display: block; margin: 16px auto 10px auto;}

.btn {
	border-radius: 8px;
	border: 1px solid rgba(0,0,0,0.4);
	background: gradient(linear,0% 0,0% 100%,from(#59FF8F),to(#00CC3E));
	display: inline-block;
	padding: 5px 16px;
	color: #000;
	text-shadow: rgba(255,255,255,0.7) 0 1px 1px;
	text-decoration: none;
	margin: 5px;
	text-align: center;
}

.btn.red {background: -webkit-gradient(linear,0% 0,0% 100%,from(#FF9799),to(#FF4F53));}
.btn:active {background: -webkit-gradient(linear,0% 0,0% 100%,from(#82FFAA),to(#2BFF6A));}
.btn.red:active {background: -webkit-gradient(linear,0% 0,0% 100%,from(#FFBBBD),to(#FF7578));}

#system .btn {margin: 5px auto; display:block; max-width: 250px;}

.spin {width:16px;height:16px; background: url('spin.gif') 0 0 no-repeat; display:inline-block;}

#push input, #push select {width: 180px; padding: 4px 8px;}
#push label {width: 70px; display: inline-block;}
#push p {margin: 8px 0;}

#ip ul.results li {margin: 0; padding: 5px; vertical-align: top;}
#ip label {display: inline-block; width: 100px; color: #888;}

.player {width: 280px; margin: 14px auto 0 auto; text-align: center; display: none;}
.player audio, .player video {width: 90%;}

s {position: absolute; right: 0; top: 0; height: 46px; width: 14px; background: url('drag.png') 3px 4px no-repeat;}

#jqt #sysinfo label {float: left; vertical-align: top; opacity: 0.6; margin-left: -118px;}
#jqt #sysinfo li {padding-left: 125px;}




/* Alert.js */
/* Overriding native alert() function */

/* Core things */
#alert-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}
#alert-container {
	position: fixed;
	width: 288px;
	max-width: 80%;
	padding: 20px 16px;
	text-align: center;
	z-index: 101;
}
#alert-message {
	line-height: 150%;
	padding-bottom: 18px;
}
#alert-container input {
	width: 82px;
	margin: 0 12px;
}

/* iOS 7 Alert Style */ 
#alert-container {
	padding: 0;
	width: 320px;
	border-radius: 7px;
	/* font: bold 16px Helvetica, Arial, sans-serif; */
	font: 400 16px Helvetica, Arial, sans-serif;
	background: -webkit-linear-gradient(#dbdbdb 0%, #e3e3e3 100%);
	/* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6); */
}
#alert-message {
	padding: 22px 16px;
	border-bottom: 1px solid #b5b5b5;
	text-shadow: none;
}
#alert-container input {
	font: 500 16px Helvetica, Arial, sans-serif;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: #007aff;
	height: 44px;
	width: 49%;
	margin: 0 !important;
}
#alert-container input[id="alert-cancel"] {
	font-weight: 200;
	border-right: 1px solid #b5b5b5;
}